<footer class="footer-two footer-two--home-1">
    <div class="col-md-12 col-lg-5 Newsletter">
        <div class="footer-two__widget footer-two__widget--form">
            <h3 class="footer-two__widget__title">Sign Up to Our Newsletter</h3>
            <p> Get the latest Beauty Secrets and Trends, sign up to 
                our Newsletter and Stay Informed About all things Beauty
            </p>
            <form action="#" class="mc-form footer-two__widget__form" data-url="MC_FORM_URL">
                <input type="text" placeholder="Email Address">
                <button type="submit"> Submit</button>
            </form>
            <div class="mc-form__response"></div>
        </div>
    </div>
    <div class="footer-two__middle">
        <div class="container">
            <div class="row gutter-y-30">
                <div class="col-md-12 col-lg-3">
                    <div class="footer-two__widget footer-two__widget--about">
                        <h3 class="footer-two__widget__title">Jolt</h3>
                        <p class="footer-two__widget__text">
                            Experience the Great Outdoor's in Style <br>
                            with Jolt's. Shop now and gear up for <br>
                            adventure with Jolt!
                        </p>
                    
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="footer-two__widget footer-two__widget--menu">
                        <div class="row">

                            <div class="col-6">
                                <h3 class="footer-two__widget__title">Categories</h3>
                                <ul class="list-unstyled footer-one__widget__menu">
                                    <li><a href="#" routerLink="">Jakets</a></li>
                                    <li><a href="#" routerLink="">Shirts </a></li>
                                    <li><a href="#" routerLink="">Knit</a></li>
                                    <li><a href="#" routerLink="">T-Shirts</a></li>
                                    <li><a href="#" routerLink="">Bottoms </a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h3>Customer Care</h3>
                                <ul class="list-unstyled footer-one__widget__menu">
                                    <li><a href="#" routerLink="">FAQs</a> </li>
                                    <li><a href="#" routerLink="">Shipping</a> </li>
                                    <li><a href="#" routerLink="">Order Status</a></li>
                                    <li><a href="#" routerLink="">Return & Exchange</a></li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <h3>Company </h3>
                                <ul class="list-unstyled footer-one__widget__menu">
                                    <li><a href="#" routerLink="">Privacy</a> </li>
                                    <li><a href="#" routerLink="">Guides</a> </li>
                                    <li><a href="#" routerLink="">Terms of Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="socials">
        <ul class="list-unstyled footer-two__widget__social">
            <li><a href="https://www.facebook.com/profile.php?id=100095181574803" target="_blank"><i
                        class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/simia_insurance" target="_blank"><i
                        class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" target="_blank"></i></a></li>
        </ul>
    </div>
    <div class="contact-info">
        <p> Call us on +243 655-456-123</p>  USD$ | English

    </div>
    <div class="copyright">
        <div class="container text-center">
            <p class="footer-two__copyright__text"> @ 2023 Copyright &copy; <span class="dynamic-year"></span> Jolt Studio,
                 Inc-All rights Reserved</p>
        </div>
    </div>
</footer>