<section class="header-sec" style="background-image:url(assets/images/background/home-bg1.jpg); height: 60vh;">
    <div class="page-desc">
      <h1>Jolt sports project</h1>
      <p>Introducing our latest collections, designed specifically for outdoor enthusiasts. Features a range of
        <br> high performance outerwear with a range of bold and vibrant colors and patterns to choose from.</p>
    </div>
    <div class="shop-btn">
      <button>Shop now</button>
    </div>
  </section>
  <div>
    <!-- <app-product-list></app-product-list> -->
    <button> See all </button>
  </div>
  <section>
    <div class="cloth-sec">
        <div class="sec-image">
          <img src="/assets/images/pages/homepage/sale-img.jpg">
        </div>
        <div class="image-desc">
          <h2>
            Find your Perfect
             <br> Look at Jolt's Stylish <br> New on Tokyo
          </h2>
          <p>
            Welcome to Jolt's Clothing Store, where style meets affordability! 
            Step into our vibrant and trendy space, where fashion-forward
             pieces await to elevate your wardrobe. From casual essentials to chic statement pieces,
              we offer a diverse selection to suit every taste and occasion.
          </p>
          <div>
            <h3> Come and Enjoy sale !</h3>
            <h2>50%</h2>
            <button>See on Maps</button>
          </div>

        </div>
  </div>

  </section>
  <section class="collections-sec">
    <div class="collections-details">
      <h2>Featured Collections</h2>
      <p>Dare to mix and match! Check our collections to level up your fashion game</p>
    </div>
    <div class="collection-groups">

    </div>

  </section>
  